<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
      <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
</head>
<body>
  <div id="nav" style="color: #33415c">
   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="books">Library</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="books">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

  <div>
  {% block content %}{% endblock %}
  </div>
  <div id="footer" style= "text-align: center; position:absolute; bottom:0px; color: white ">
    &copy; Copyright 2022 by <a href="https://www.linkedin.com/in/endriase-yetbarek-4b2055138/">Endriase Yetbark</a>.
  </div>
  </div>
</body>