<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>{% block head%}Home{%endblock%}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
 {% block content %}
<body style=" font-family:'Architects Daughter', cursive; font-weight:100; text-align: center; background-image:
url(https://images.pexels.com/photos/3747468/pexels-photo-3747468.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);" >
<h1> Welcome! </h1>
<form method="POST" action="">
    <p>  <input type="submit" name="btn" class="btn btn-primary" value="Log-in"> </p>
    <p>  <input type="submit" name="btn" class="btn btn-primary" value="Sign-Up"> </p>
    <p>  <input type="submit" name="btn" class="btn btn-primary"value="About Library"> </p>
</form>
<div>
    {% if msg %}
    <center>
       {%for line in msg%}
            <br>{{line}}</br>
        {%endfor%}
    </center>
    {%endif%}
    </div>
{% endblock %}
</body>
</html>